
body{
    margin: 0;
    padding: 0;
    min-width: 1200px; 
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
}
.wrapper { /* Центровщик*/
    box-sizing: border-box;
    position: relative;
    width: 1400px;
    margin: 0 auto;
    padding: 0;
  }
a {
    text-decoration: none;
}
h1 {
    margin: 0px;
}
img {
    max-width: 100%;
    height: auto;
}
.site-navigation,
.icon-basket,
.footer-social ul,
.sorting-list,
.filter-grid,
.filter-specials {
  list-style: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.slider-item {
    display: none;
    padding: 78px 0 80px 0;
}
.slider-item:nth-child(1) {
    display: block;
  }  
.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}
.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
  }
  
  .slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
  }
.slider {
    position: relative;
    background: #eeeeee;
}
.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}
.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
}
.main-header {
    background-color: #eeee;
    padding-top: 49px;
    padding-bottom: 18px;
}

.site-navigation a,
.icon-basket a {
  color: #000;
  text-transform: uppercase;
}
.site-navigation a:hover,
.site-navigation a:focus,
.icon-basket a:hover,
.icon-basket a:focus {
    color: #fb565a;
}
.site-navigation a:active,
.icon-basket a:active {
    color: #a6a6a6;
}
.site-navigation-current a {
    text-decoration: none;
    border-bottom: 2px solid #fb565a;
}
.header-title {
    text-align: center;
    padding-bottom: 119px;
    padding-top: 60px;
    background: #eeeeee;
}

.specific-service {
    text-align: left;
}
.specific-service-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.main-header-logo svg:hover,
.main-header-logo svg:focus {
    fill: #303030;
}
.main-header-logo svg:active {
    fill: #a6a6a6;
}
.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    
    width: 160px;
    height: 18px;
  
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
  }
  
.slider-controls i {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    padding: 8px;
    
}

.slider-controls i::after {
    content: "";
    width: 18px;
    height: 18px;
    background: #ffffff;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    border-radius: 50%;
}

.slider-controls .active::before { 
    content: "";

    position: absolute;
    left: 39%;
    top: 39%;
    z-index: 2;
  
    width: 4px;
    height: 4px;
  
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
  }   

.button {
    display: inline-block;
    height: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 50px;
    border-radius: 3px;
    text-align: center;
    border: none; 
}
.slider-item-button {
    background-color: #fb565a;
    width: 240px;
}
.slider-item-button:hover,
.slider-item-button:focus {
    background-color: #e74246;
}
.slider-item-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.contacts-btn {
    width: 219px;
}
.service-sites {
    background: #fb565a;
    width: 160px;
    height: 50px;
}
.service-sites:hover,
.service-sites:focus,
.item-price:hover,
.item-price:focus {
    background: #e74246;
}
.service-sites:active,
.item-price:active {
    color: rgba(255, 255, 255, 0.3);
    background: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.service-apps {
    background: #00ca74;
    width: 160px;
    height: 50px;
}
.service-apps:hover,
.service-apps:focus {
    background: #00bc6c;
}
.service-apps:active {
    background: #00aa62;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.service-presentations {
    background: #efc84a;
    width: 160px;
    height: 50px;
}
.service-presentations:hover,
.service-presentations:focus {
    background: #eab534;
}
.service-presentations:active {
    background: #e5a722;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.feedback-form {
    display: none;
    position: absolute;
    font-size: inherit;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    width: 960px;
    height: 590px;
    left: 240px;
    top: 1800px;
}
.feedback-form label{
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    vertical-align: middle;
}
.feedback-form input,
.feedback-form textarea {
    border: 2px solid #d7dcde;
    font-size: inherit;
    line-height: 18px;
    color: #a1a1a1;
}
.contacts-btn,
.button-submit  {
    background-color: #fb565a;
    white-space: nowrap;
    overflow: hidden;

}
.item-header svg:hover,
.item-header svg:focus {
    fill: #4d4d4d;
}
.contacts-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: #000;
}
.contacts-address,
.contacts-phone {
    font-size: inherit;
    line-height: 18px;
    color: #666666;
}
.specific-service p {
    font-size: inherit;
    line-height: 24px;
    color: #283136;
}
.container-footer span {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    
}
.container-footer p {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}
.item-price {
    background: #fb565a;
    width: 200px;
}

.item-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.item-text {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}
.container-header  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
}
.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 440px;
    padding: 0;
}
.icon-basket {
    padding: 0;
}
.main-navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1440px;
    height: 65px;
    justify-content: space-around;
}
.types-services .specific {
    display: flex;
    height: 348px;
    width: 1099px;
    flex-direction: row;
    justify-content: space-between;
   
}
.types-services {
    padding-left: 140px;
    padding-bottom: 80px;
    padding-top: 80px;
    background: white;
}


.references {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1090px;
    height: 68px;
    padding: 50px 163px 50px 171px;
}
.references-wrapper {
    background: white;
}
.info-wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    padding-top: 28px;
    padding-bottom: 61px;
}
.info-slogan {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}
.info-text {
    font-size: inherit;
    line-height: inherit;
    color: #283136;
}
.info-job {
    font-size: inherit;
    line-height: inherit;
    font-weight: 700;
    text-transform: uppercase;
}
.description-list {
    list-style: none;
}
.description-item {
    display: block;
    position: relative;
}
.description-item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    left: -40px;
    bottom: 10px;

    background-color: red;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.contacts {
    width: 319px;
    height: 308px;
    position: absolute;
    background: white;
    left: 141px; 
    bottom: 60px;

}
.contacts-wrapper {
    padding: 53px 50px 47px 50px;
}
.marker {
    position: absolute;
    right: 390px;
    bottom: 140px;
}
.map-wrapper {
    display: block;
    position: relative;
}
.container-footer {
    background: 
}
.footer-social ul {
    margin: 0px;
}
.container-footer {
    display: flex;
    flex-direction: row;
    height: 218px;
    justify-content: space-around;
    align-items: center;
    background: white;
}
.social-list {
    display: flex;
    flex-direction: row;
    width: 261px;
    height: 79px;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}
.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #e1e1e1;
      
}
.shop-title {
     color: #000;
     font-size: 55px;
     line-height: 55pli x;

}

.filter {
    width: 259px;
    height: 510px;
}
.filter-name {
    margin-bottom: 29px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;


}
.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

}
.filter-grid,
.filter-specials {
    margin: 0;
    padding: 0;
}
.filter-grid-radio + label::before { /* Псевдоэлемент радио кнопки */
    content: "";
  
    position: absolute;
    width: 25px;
    height: 25px;
    left: -36px;
    top: -3px;
  
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0 ;
    opacity: 0.4;

  }
  .filter-checkbox + label::before { /* Псевдоэлемент чекбокса */
    content: "";
  
    position: absolute;
    width: 27px;
    height: 23px;
    left: -36px;
    top: -2px;
  
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0 ;
    opacity: 0.4;
  }
  .filter-checkbox:checked + label::before { /* Меняем изображение чекбокса*/
    background-image: url("../img/checkbox-on.svg");
  }
  .filter-grid-radio:checked + label::before { /* Меняем изображение радиокнопки */
    background-image: url("../img/radio-on.svg");
  }
  .filter-specials label,
  .filter-grid label { /* Пункты фильтров */
    position: relative;
  
    display: block;
  
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
  
    background-color: #ffffff;
    margin-bottom: 20px;
  }
.show-filter {
display: block;
position: absolute;
left: 60px;
    color: #000;
    width: 260px;
    padding: 0;
    background-color: #eeeeee;
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 760px;
}
.item-card {
    width: 360px;
    padding-bottom: 33px;
}
.item-description {
    display: none;
}
.item-header {
    width: 360px;
    height: 40px;
}
.container-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: white;
}
.sorting-items-wrapper {
    display: flex;
    flex-direction: column;
}
.sorting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.sorting-list {
    display: flex;
    flex-direction: row;
    width: 272px;
    justify-content: space-between;
    padding-left: 0px;

}
